services:
  app:
    image: ghcr.io/suitux/tagr:latest
    container_name: tagr
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - PUID=1000
      - PGID=1000
      - NODE_ENV=production
      - DATABASE_URL=file:/data/tagr.db
      - AUTH_SECRET=change-me
      - AUTH_USER=admin
      - AUTH_PASSWORD=change-me
    volumes:
      - sqlite_data:/data
      # Mount your music folder into the container:
      # - /your/music/folder1:/music/folder1
      # - /your/music/folder2:/music/folder2
      # - /your/music/folder3:/music/folder3

volumes:
  sqlite_data:
